.tabs{
    max-width: 1100px;
    display: grid;
    grid-template-rows: 100px 35px auto;
    justify-items: center;
    margin: 2rem auto 0;
}
.tab-list{
    display: flex;
    position: relative;
}
.tab{ 
    cursor: pointer;
    padding: 0 1rem;
    font-size: 1.25rem;
    transition: all 0.3s ease-out;
}
.tab:first-child{
    color: var(--orange01);
}
.line{
    position: absolute;
    height: 3px;
    width: 22%;
    background: var(--orange01);
    left: 0;
    bottom: 0;
}
.tab:nth-child(2):hover ~ .line{
    left: 23%;
}
.tab:nth-child(3):hover ~ .line{
    left: 49%;
}
.tab:nth-child(4):hover ~ .line{
    left: 76%;
}
.tab:hover{
    color: var(--orange01);
}
